@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F2E1C1;
  --foreground: #171717;
  --primary: #333333;
  --color_two: #A8D5BA;
  --color_three: #3D405B;
  --color_four: #F7C8D5;
  --color_five: #A8D5BA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: auto;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.hero-section {
  background-color: #f9fafb; /* Light background for the hero section */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.artist-card {
  background-color: #ffffff; /* White background for artist cards */
  transition: transform 0.2s;
}

.artist-card:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.artist-card img {
  border-bottom: 4px solid #3b82f6; /* Blue border under the image */
}