@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F2E1C1;
  --foreground: #171717;
  --primary: #333333;
  --color_two: #A8D5BA;
  --color_three: #3D405B;
  --color_four: #F7C8D5;
  --color_five: #A8D5BA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: auto;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
